.main.hero-unit
	h1 Magic of 7 Days
	br
	p 일주일간의 꼭! 지켜야할 계획을 짜고 여러분 친구들과 그 리스트를 공유하세요. 한주한주 계획을 세우면서 이루기 힘들거라 생각했던 것들을 페이스북 친구들에게 발표하고 보여주고 공유하면 여러분의 마법같은 계획이 현실이 될 것입니다. 하루는 단식하기! 영어단어 100개 외우기! 매일 아침 일찍 일어나기! 뭐든지 좋습니다. 여러분이 꼭 이루고픈 리스트를 공유해주세요. 그리고 친구들의 리스트를 응원해주세요. 1주일이 지나고나면 여러분은 지난 1주일을 돌아보며 리뷰를 하고 사진을 남기세요. 한주한주 쌓여가면 결국 여러분은 7일의 기적을 이루어낼 것입니다!
	.main-loginbtn
		= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-inverse facebookbtn", id: "login"

/ .newsfeeds
/ 	h2 4월 1일부터 4월 7일
/ 	.rjow
/ 		.span4
/ 			.row.user-weekplan
/ 				.span1
/ 					= image_tag "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-snc6/603258_407699975973346_1311881605_n.jpg", class: "user-img"
/ 				.span3
/ 					ul
/ 						li 간헐적 단신하기
/ 						li 아침에 6시 일어나기
/ 						li 국선도 매일 가기
/ 		.span4
/ 			.row.user-weekplan
/ 				.span1
/ 					= image_tag "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-snc6/603258_407699975973346_1311881605_n.jpg", class: "user-img"
/ 				.span3
/ 					ul
/ 						li 간헐적 단신하기
/ 						li 아침에 6시 일어나기
/ 						li 국선도 매일 가기
		

